.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 230px;
  z-index: 110;
  background-color: white;
  padding-top: 15px;
}

.sidebar-button {
  background-color: white;
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebar-button:hover {
  background-color: rgb(241, 241, 241);
}

.sidebar-divider-block {
  background-color: white;
  margin: 0;
  padding: 10px 0;
}
.sidebar-divider-line {
  height: 1px;
  background-color: rgb(225, 225, 225);
  padding: none;
}
#subs-heading {
  background-color: white;
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  font-weight: 500;
  padding-left: 24px;
  cursor: pointer;
}
.sidebar-button img {
  width: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 50%;
}
